# Node modules
node_modules/

# Logs
*.log

# Build output
/dist/
/build/

# Env 
/frontend/.env
/backend/.env

/backend/dist/

# IDE configurations
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
