  
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
 .MapContainer {
    display: flex;
    flex: 1;
    height: 50%; /* Full viewport height */
    width: 90%;   /* Full width */
    background-color: #f4f4f4; /* Example background color */
  }
  
  .mapbox-children {
    display: none;
    height: 0;
  }
  